#gamecenter{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

#myCanvas {
    width: 50%;
    margin:  auto;
    top: 50%;
    position: relative;
}

#myCanvas .player {
    position: absolute;
    bottom: 0;
}
.stars {
    background: url('stars.webp');
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
