#spaceInvader{
    width: 100%;
    height: 500px;
    /* border-style: solid; */

    

}

#gameCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 630px;
    margin: auto;
}
.stars {
    background: url('stars.webp');
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .alien{
    background-image: url("/img/alien.jpg");
  }

