header{
    position: absolute;
    z-index: 1;
    background-color: black;
}

img{
    height: 75px;
    width: 75px;
    cursor: pointer;
}
#center{
    display: flex;
    align-items: center;
    z-index: 1;
    color:white;
    flex-direction: column;
}
#game{
    z-index: 1;
    bottom: 0px;
    margin-bottom: 0%;
}
#score{
    margin-top: 15%;
    position: absolute;
    color: white;
    font-size: 45px;
    z-index: 1;
}
#score2{
    margin-top: 22%;
    position: absolute;
    color: white;
    font-size: 45px;
    z-index: 1;
}

h1 {
    z-index: 1;
    margin-bottom: 30px;
    font-size: 60px;
    margin-right: 20%;
    margin-left: 20%;
    justify-content: space-around;  

    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #cddc47 0%,
    #ac80db 29%,
    #13ff66 67%,
    #ff00fb 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-weight: bold;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
.stars {
    background: url('../img/background2.jpg');
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
  }
#level{
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 100px;
}
#foot{
    display: flex;
    right: 0px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    font-style: Verdana (sans-serif);
}
footer{
    font-size: 14px;
    color: rgb(123, 123, 123);
    
}
button{
    cursor: pointer;
}
#reset{
    margin-top: 35%;
    position: absolute;
    z-index: 1;
    background-color: #8c00ff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#reset:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#replay{
    margin-top: 40%;
    position: absolute;
    z-index: 1;
    background-color: #8c00ff; /* Green */
    border: none;
    color: white;
    padding: 15px 68px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#replay:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}